<a href="https://colab.research.google.com/github/EmadSoheili/DeepLearning-UofT-Canvas/blob/main/DeepLearning_Tabular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Imports

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

%matplotlib inline

In [2]:
# Load data

attrition_df = pd.read_csv('Inputs/HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# List categorical columns

attrition_cat = attrition_df.dtypes[attrition_df.dtypes == 'object'].index.tolist()
attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [4]:
# Count unique values in categorical columns

attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [5]:
# OneHotEncoder

enc = OneHotEncoder(sparse=False)
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
attrition_df = attrition_df.merge(encode_df, left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

<ipython-input-6-327fa53b9590>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  attrition_df = attrition_df.drop(attrition_cat,1)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
# Split dataset into inputs and output

y = attrition_df['Attrition_Yes'].values
X = attrition_df.drop(['Attrition_Yes', 'Attrition_No'], 1).values

<ipython-input-7-da1ca898d9b6>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = attrition_df.drop(['Attrition_Yes', 'Attrition_No'], 1).values

In [8]:
# Split data into train and test

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [9]:
# Scale data

scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Create Depp Learning model

number_input_feature = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# Add hidden layers

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_feature, activation='relu'))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Add output layers

nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 448

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Compile model

nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [12]:
# Train model

fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 3ms/step - loss: 0.6105 - accuracy: 0.7387
Epoch 2/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5462 - accuracy: 0.8013
Epoch 3/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4939 - accuracy: 0.8212
Epoch 4/100
35/35 [==============================] - 0s 5ms/step - loss: 0.4541 - accuracy: 0.8285
Epoch 5/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4251 - accuracy: 0.8321
Epoch 6/100
35/35 [==============================] - 0s 4ms/step - loss: 0.4040 - accuracy: 0.8330
Epoch 7/100
35/35 [==============================] - 0s 6ms/step - loss: 0.3872 - accuracy: 0.8358
Epoch 8/100
35/35 [==============================] - 0s 5ms/step - loss: 0.3733 - accuracy: 0.8430
Epoch 9/100
35/35 [==============================] - 0s 4ms/step - loss: 0.3615 - accuracy: 0.8512
Epoch 10/100
35/35 [==============================] - 0s 5ms/step - loss: 0.3509 - accuracy: 0.8630
Epoch 11/100
35/35 [==============================] - 0s 4ms/step - loss: 0.3412 - accuracy: 0.8675
Epoch 12/100
35/35 [==============================] - 0s 8ms/step - loss: 0.3332 - accuracy: 0.8721
Epoch 13/100
35/35 [==============================] - 0s 4ms/step - loss: 0.3253 - accuracy: 0.8802
Epoch 14/100
35/35 [==============================] - 0s 3ms/step - loss: 0.3174 - accuracy: 0.8811
Epoch 15/100
35/35 [==============================] - 0s 4ms/step - loss: 0.3095 - accuracy: 0.8875
Epoch 16/100
35/35 [==============================] - 0s 4ms/step - loss: 0.3027 - accuracy: 0.8884
Epoch 17/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2958 - accuracy: 0.8884
Epoch 18/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2899 - accuracy: 0.8893
Epoch 19/100
35/35 [==============================] - 0s 7ms/step - loss: 0.2839 - accuracy: 0.8866
Epoch 20/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2801 - accuracy: 0.8902
Epoch 21/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2751 - accuracy: 0.8893
Epoch 22/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2709 - accuracy: 0.8911
Epoch 23/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2674 - accuracy: 0.8938
Epoch 24/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2635 - accuracy: 0.8947
Epoch 25/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2602 - accuracy: 0.8956
Epoch 26/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2564 - accuracy: 0.8993
Epoch 27/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2542 - accuracy: 0.9002
Epoch 28/100
35/35 [==============================] - 0s 7ms/step - loss: 0.2515 - accuracy: 0.9011
Epoch 29/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2490 - accuracy: 0.9038
Epoch 30/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2471 - accuracy: 0.9038
Epoch 31/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2445 - accuracy: 0.9020
Epoch 32/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2418 - accuracy: 0.9038
Epoch 33/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2401 - accuracy: 0.9038
Epoch 34/100
35/35 [==============================] - 0s 3ms/step - loss: 0.2383 - accuracy: 0.9056
Epoch 35/100
35/35 [==============================] - 0s 6ms/step - loss: 0.2364 - accuracy: 0.9029
Epoch 36/100
35/35 [==============================] - 0s 7ms/step - loss: 0.2340 - accuracy: 0.9056
Epoch 37/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2317 - accuracy: 0.9056
Epoch 38/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2305 - accuracy: 0.9102
Epoch 39/100
35/35 [==============================] - 0s 6ms/step - loss: 0.2287 - accuracy: 0.9083
Epoch 40/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2271 - accuracy: 0.9120
Epoch 41/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2259 - accuracy: 0.9102
Epoch 42/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2243 - accuracy: 0.9147
Epoch 43/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2221 - accuracy: 0.9147
Epoch 44/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2202 - accuracy: 0.9147
Epoch 45/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2187 - accuracy: 0.9174
Epoch 46/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2173 - accuracy: 0.9174
Epoch 47/100
35/35 [==============================] - 0s 6ms/step - loss: 0.2159 - accuracy: 0.9174
Epoch 48/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2144 - accuracy: 0.9174
Epoch 49/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2122 - accuracy: 0.9183
Epoch 50/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2118 - accuracy: 0.9165
Epoch 51/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2098 - accuracy: 0.9220
Epoch 52/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2092 - accuracy: 0.9211
Epoch 53/100
35/35 [==============================] - 0s 7ms/step - loss: 0.2067 - accuracy: 0.9201
Epoch 54/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2061 - accuracy: 0.9192
Epoch 55/100
35/35 [==============================] - 0s 5ms/step - loss: 0.2041 - accuracy: 0.9238
Epoch 56/100
35/35 [==============================] - 0s 9ms/step - loss: 0.2032 - accuracy: 0.9247
Epoch 57/100
35/35 [==============================] - 0s 4ms/step - loss: 0.2014 - accuracy: 0.9238
Epoch 58/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1998 - accuracy: 0.9265
Epoch 59/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1993 - accuracy: 0.9256
Epoch 60/100
35/35 [==============================] - 0s 5ms/step - loss: 0.1976 - accuracy: 0.9256
Epoch 61/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1963 - accuracy: 0.9265
Epoch 62/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1955 - accuracy: 0.9247
Epoch 63/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1937 - accuracy: 0.9292
Epoch 64/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1928 - accuracy: 0.9256
Epoch 65/100
35/35 [==============================] - 0s 3ms/step - loss: 0.1912 - accuracy: 0.9256
Epoch 66/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1897 - accuracy: 0.9256
Epoch 67/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1886 - accuracy: 0.9338
Epoch 68/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1872 - accuracy: 0.9301
Epoch 69/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1855 - accuracy: 0.9319
Epoch 70/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1842 - accuracy: 0.9310
Epoch 71/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1837 - accuracy: 0.9328
Epoch 72/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1821 - accuracy: 0.9310
Epoch 73/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1817 - accuracy: 0.9310
Epoch 74/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1797 - accuracy: 0.9310
Epoch 75/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1792 - accuracy: 0.9347
Epoch 76/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1777 - accuracy: 0.9319
Epoch 77/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1772 - accuracy: 0.9365
Epoch 78/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1755 - accuracy: 0.9347
Epoch 79/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1747 - accuracy: 0.9347
Epoch 80/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1733 - accuracy: 0.9338
Epoch 81/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1721 - accuracy: 0.9328
Epoch 82/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1711 - accuracy: 0.9356
Epoch 83/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1699 - accuracy: 0.9347
Epoch 84/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1689 - accuracy: 0.9365
Epoch 85/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1678 - accuracy: 0.9383
Epoch 86/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1675 - accuracy: 0.9338
Epoch 87/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1661 - accuracy: 0.9383
Epoch 88/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1649 - accuracy: 0.9365
Epoch 89/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1631 - accuracy: 0.9383
Epoch 90/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1630 - accuracy: 0.9410
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1614 - accuracy: 0.9410
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1596 - accuracy: 0.9392
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1601 - accuracy: 0.9374
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1582 - accuracy: 0.9428
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1569 - accuracy: 0.9419
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1557 - accuracy: 0.9410
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1541 - accuracy: 0.9410
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1540 - accuracy: 0.9428
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1533 - accuracy: 0.9401
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 0.1517 - accuracy: 0.9392

In [13]:
# Evaluate model
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f'Loss: {model_loss}, Accuracy: {model_accuracy}')

12/12 - 0s - loss: 0.3555 - accuracy: 0.8777 - 173ms/epoch - 14ms/step
Loss: 0.3555275797843933, Accuracy: 0.8777173757553101